body {
    background-color: #ffffff;
    font-family: 'Roboto',sans-serif;
    color: #434455;
    }

h1,h2,h3,h4,h5,h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/*=====HEADER=====*/

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header-logo-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    margin-right: 76px;
}

.header-logo-link span {
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-item {}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-contact-list {
    display: flex;
    gap: 40px;
}

.header-contact-item {}

.header-contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
    color: #404bbf;
}

/*=====HERO=====*/

.hero {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    padding: 188px 0;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-btn {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: block;
    margin: 0 auto;
}

.hero-btn:hover ,
.hero-btn:focus {
    background-color: #404bbf;
}

/*=====FEATURES=====*/

.features {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 3 * 24px) / 4);
}

.features-subtitle {
    margin-bottom: 8px;
}

.features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*=====TEAM=====*/

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-title {
    margin: 0 auto;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: #ffffff;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
}

.team-text-wrap {
    padding: 32px 0;
}

.team-item-image {}

.team-subtitle {
    text-align: center;
    margin-bottom: 8px;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/*=====PORTFOLIO=====*/

.portfolio {
    padding: 120px 0;
}

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 2 * 24px) / 3);
}

.portfolio-text-wrap{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    margin-bottom: 8px;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-item-image {}

/*=====FOOTER=====*/

.footer {
    background: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo span {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}